body {
    margin: 0;
    padding: 0;
    background-image: url('../img/background.png');
    background-repeat: no-repeat;
    background-size: cover;
}

#content {
    /* Стили для основного содержимого страницы */
}

#underbody {
    /* Стили для дополнительного содержимого, имеющего свой фон */
    background-image: url('../img/Block-background.png');
    background-repeat: no-repeat;
    background-size: cover;
    color:aliceblue;
}

nav {
    text-align: center;
}

nav>a {
    text-decoration: none;
    display: inline;
    color: white;
    transition: all 1s ease;
}

html {
    scroll-behavior: smooth;
}