body {
    background-color: black;
}

#banner {
    background-color: rgb(0, 47, 255);
}

#news {
    background-color: rgb(27, 134, 134);
}

#social {
    background-color: yellow;
}

#description {
    background-color: green;
}

#Gallery {
    background-color: rgb(139, 47, 167);
}

#footer {
    background-color: salmon;
}

nav>a {
    text-decoration: none;
    display: inline;
    text-decoration-color: white;
    transition: all 1s ease;
}

html {
    scroll-behavior: smooth;
}