body {
       background-image: url(img\background.png);
}

#banner {
    background-image:url(img\Block-background.png);
}

#news {
    background-image:url(img\Block-background.png);
}

#social {
    background-image:url(img\Block-background.png);
}

#description {
    background-image:url(img\Block-background.png);
}

#Gallery {
    background-image:url(img\Block-background.png);
}

#footer {
    background-image:url(img\Block-background.png);
}

nav {
    text-align: center;
}

nav>a {
    text-decoration: none;
    display: inline;
    color: white;
    transition: all 1s ease;
}

html {
    scroll-behavior: smooth;
}